<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>A.R.I.S. Project</title>
  <script src="https://kit.fontawesome.com/e8380b90fa.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/404Style.css">
  <link rel="stylesheet" href="/surrenderFormStyle.css">
  <link rel="stylesheet" href="/successfulSubmission.css">
  <link rel="stylesheet" href="/footerStyle.css">
  <link rel="stylesheet" href="/navbarStyle.css">
</head>

<body>
  <div id="app"></div>

  <script type="application/javascript" src="/bundle.js"></script>
</body>

</html>