/* your styles, here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#app div .section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #daccb4;
  transition: 0.5s;
}

#app div .section.Puppies {
  background-color: #daccb4;
}

#app div .section.Pokemon {
  background-color: #f1ccd5;
}

/* navbar */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.1);
}

.navbar .brand {
  position: relative;
  font-size: 2em;
  font-weight: 700;
}

.navbar ul {
  position: relative;
  display: flex;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  color: #555;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar ul li:hover a {
  background-color: #fff;
}

.navbar.scroll {
  background-color: #abcdef;
}

.navbar.scroll .brand {
  position: relative;
  font-size: 2em;
  font-weight: 700;
  color: #fff;
}

.navbar.scroll ul li a {
  display: inline-block;
  color: #fff;
  font-weight: 400;
  margin-left: 20px;
  text-decoration: none;
  padding: 10px 20px;
}

.navbar.scroll ul li:hover a {
  background-color: #fff;
  color: #abcdef;
}

/* index-page */

.section .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section .content .text-box {
  position: relative;
  max-width: 600px;
}

.section .content .text-box h2 {
  color: #333;
  font-size: 3em;
  line-height: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

.section .content .text-box p {
  margin-top: 10px;
  letter-spacing: 1px;
}

.section .content .text-box a {
  color: #555;
}

.section .content .text-box a {
  display: inline-block;
  margin-top: 30px;
  margin-right: 20px;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  transition: 0.5s;
}

.section .content .text-box a:hover {
  background-color: #333;
  transform: rotateY(360deg) scale(1.2);
  color: #fff;
}

.section .content .image-box {
  width: 600px;
  display: flex;
  padding-right: 50px;
  margin-top: 50px;
  justify-content: flex-end;
}

.section .content .image-box img {
  max-width: 300px;
}

.pet-thumbnail {
  position: absolute;
  left: 45%;
  bottom: 40px;
  transform: translate(-50%, -50%);
  display: flex;
}

.pet-thumbnail li {
  text-decoration: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.pet-thumbnail li:hover {
  transform: translateY(-15px);
}

.pet-thumbnail li img {
  max-width: 150px;
  max-height: 150px;
}

.social-icons {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  flex-direction: column;
}

.social-icons li a {
  display: inline-block;
  margin: 15px 0;
  color: #aaa;
  font-size: 2em;
  transition: 0.5s;
}

.social-icons li:hover a {
  transform: rotateY(360deg) scale(1.5);
  color: #fff;
}

/* About - page */

.container {
  background-color: #fff;
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .content {
  position: relative;
  text-align: center;
  width: 100%;
}

.max-width-800 {
  max-width: 800px;
  margin: 0 auto;
}

.max-width-800 h3 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

.max-width-800 p {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.team-box {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.team-box .member {
  position: relative;
  min-height: 300px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-box .member .member-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-box .member .member-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-box .member:hover .member-details {
  opacity: 0.8;
}

.team-box .member .member-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.2s;
  opacity: 0;
}

.team-box .member .member-details h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.team-box .member .member-details h2 span {
  display: block;
  font-size: 12px;
  font-weight: 300px;
}

/* pet - index page */

.pet {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  max-width: 100%;
  margin-top: 40px;
}

.pet .pet-box {
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.05);
}

.pet .pet-box .pet-img {
  margin-top: 25px;
}
.pet .pet-box .pet-img img {
  max-width: 200px;
  margin-bottom: 15px;
  height: 200px;
  border-radius: 10px;
}

.pet .pet-box .pet-details h2 a {
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}

.pet-box .pet-more-details:hover {
  opacity: 0.8;
}

.pet-box .pet-more-details {
  position: relative;
  top: -350px;
  left: -21px;
  width: 300px;
  height: 112%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  transition: 0.5s;
  opacity: 0;
}

.pet-box .pet-more-details a {
  position: absolute;
}

/* Pet - Show Page */
.pet-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  min-height: 800px;
  background-color: #fff;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: 0.5s;
}

.pet-container.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}

.pet-container .pet-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  padding: 20px;
  width: 100%;
}

.pet-container .pet-content img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.pet-container .pet-content h2 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #333;
}

.pet-container .pet-content p {
  margin-bottom: 10px;
  color: #555;
}

#submit-btn,
.pet-box .pet-more-details a,
.pet-container .pet-content a {
  margin-top: 10px;
  font-size: 20px;
  color: #fff;
  background-color: #e91e63;
  display: inline-block;
  padding: 4px 10px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
}

#submit-btn:hover,
.pet-box .pet-more-details a:hover,
.pet-container .pet-content a:hover {
  background-color: #fff;
  transform: rotateY(360deg) scale(1.2);
  color: #e91e63;
}

/* Modal - Form*/

.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  padding: 40px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.modal.active {
  height: 100vh;
  top: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  z-index: 2;
}

#form-container {
  margin-top: 150px;
}

.form-title {
  text-align: center;
  padding: 50px 0 20px;
}

.form-title h2 {
  margin: 0;
  padding: 0;
  color: #abcdef;
  text-transform: uppercase;
  font-size: 36px;
}

.form-content {
  width: 50%;
  height: 500px;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
}

.close-btn {
  position: absolute;
  top: 5%;
  left: 85%;
  font-size: 1.5em;
  color: #abcdef;
  cursor: pointer;
}

.form-content .form-left-side {
  float: left;
  width: 40%;
  height: 400px;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.form-content .form-left-side img {
  width: 200px;
  height: 200px;
  margin: 80px auto 20px;
  border-radius: 10px;
}

.form-content .form-left-side h3 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #abcdef;
}

.form-content .form-left-side p {
  margin-bottom: 10px;
  color: #555;
}

.form-content .form-right-side {
  position: relative;
  float: right;
  width: 60%;
  height: 400px;
}

.form-box {
  width: 100%;
  padding: 80px 40px;
  height: 400px;
  background-color: #fff;
}

.form-box label {
  font-weight: bold;
  color: #abcdef;
}

.form-box input {
  margin-bottom: 20px;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid #abcdef;
  width: 100%;
}

.form-box select {
  margin-bottom: 20px;
  border: 2px solid #abcdef;
}

.form-box input[type="submit"] {
  margin-bottom: 20px;
  padding: 0 20px;
  border: none;
  border-bottom: 2px solid #abcdef;
  width: 80%;
}

#submit-btn {
  border: none;
  font-size: 15px;
}

/* 404 Page Not Found */
#page-not-found {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(0deg, #fff, #abcdef);
  z-index: 100;
}
.sky {
  position: relative;
  widows: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sky h2 {
  font-size: 16em;
  color: #fff;
  text-shadow: 15px 15px 0 rgba(0, 0, 0, 0.1);
}
.sky h2 span {
  display: inline-block;
  animation: animate 3s ease-in-out infinite;
}
.sky h2 span:nth-child(2) {
  animation-delay: 0.33s;
}
.sky h2 span:nth-child(3) {
  animation-delay: 0.67s;
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(50px);
  }
}
.ocean {
  padding: 100px;
  height: 30vh;
  background: linear-gradient(0deg, #074888, #ffffff);
  box-shadow: inset 0 20px 10px #fff;
  text-align: center;
}
.ocean h2 {
  color: #fff;
  font-size: 2em;
  margin-bottom: 40px;
}
.ocean a {
  font-size: 20px;
  color: #fff;
  background-color: #e91e63;
  display: inline-block;
  border-radius: 50px;
  text-decoration: none;
  transition: 0.5s;
  width: 250px;
  height: 50px;
  line-height: 50px;
  letter-spacing: 1px;
}
.ocean a:hover {
  background-color: #fff;
  transform: rotateY(360deg) scale(1.5);
  color: #e91e63;
}
.lugia {
  position: absolute;
  bottom: 100px;
  left: 100px;
  max-width: 400px;
  animation: lugiaFlyingAnimation 80s ease-in-out infinite;
}
@keyframes lugiaFlyingAnimation {
  0% {
    transform: translate(0, -50px);
  }
  49% {
    transform: translate(70vw, -50px);
  }
  50% {
    transform: translate(70vw, -50px) scaleX(-1);
  }
  100% {
    transform: translate(0, -50px) scaleX(-1);
  }
}
.wave {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: url(./images/wave.png);
  background-position: bottom;
  background-size: 500px 50px;
}
.wave.wave1 {
  animation: animate1 30s linear infinite;
  z-index: 1113;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave.wave2 {
  animation: animate2 15s linear infinite;
  z-index: 1112;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave.wave3 {
  animation: animate1 10s linear infinite;
  z-index: 1111;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 1110;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate1 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -1000px;
  }
}
