@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Surrender - Form */

#surrender-form {
  margin-top: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 88px);
  background-color: #abcdef;
}

#surrender-form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #fff;
}

.surrender-form-container {
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex;
  z-index: 2;
}

.surrender-form-left-side {
  position: absolute;
  top: 40px;
  width: 350px;
  height: calc(100% - 80px);
  background-color: #abcdef;
  z-index: 1;
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 250px rgba(0, 0, 0, 0.15);
}

.surrender-form-right-side {
  position: absolute;
  padding: 70px 50px;
  padding-left: 250px;
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100%;
  background-color: #fff;
  box-shadow: 0 20px 250px rgba(0, 0, 0, 0.25);
}

.surrender-form-left-side img {
  width: 200px;
  height: 200px;
  margin: 80px auto 20px;
  border-radius: 10px;
}

.surrender-form-left-side h3 {
  color: #333;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.surrender-form-left-side h3 span {
  color: #555;
  text-align: center;
  margin-bottom: 50px;
  font-size: 14px;
}

.surrender-form-right-side h2 {
  color: #67a9eb;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0;
}

.surrender-form-right-side h6 {
  color: #e91e63;
  margin-bottom: 0;
}

#surrender-form-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}

#surrender-form-box .input-box {
  position: relative;
  margin-bottom: 35px;
}

#surrender-form-box .input-box.w50 {
  width: 47%;
}
#surrender-form-box .input-box.w75 {
  width: 75%;
}

#surrender-form-box .input-box input,
#surrender-form-box .input-box select {
  width: 100%;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  border: none;
  outline: none;
  border-bottom: 1px solid #abcdef;
}

#surrender-form-box .input-box span {
  color: #e91e63;
  position: absolute;
  right: -10px;
  padding: 5px 0;
  pointer-events: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}

#surrender-form-box .input-box label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  pointer-events: none;
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  color: #abcdef;
}

#surrender-form-box .input-box input[type="submit"] {
  font-size: 20px;
  color: #fff;
  background-color: #e91e63;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  text-decoration: none;
  transition: 0.5s;
  border: none;
}
